@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {
  margin: 0;
  padding: 0;
}
html, body {  
  font-size: 17px;
  font-family:'Noto Sans KR', sans-serif;
}
ul, ol, li {
  list-style:none;
}
a {
  text-decoration: none;
}
.skip {
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}
.skip:focus {
  top: 0;
}
.hide {
  position: absolute;
  left: -5000px;
}