:root { 
  --gray-color: #949394;
  --darkgray-color: #424241;
  --point-color: #2d5b79;
  --font-basic: #001829;
  --font-slide: #333;
  --banner-bg: #f2f0ed;
}
body {
  min-width: 1280px;
}
header {
  text-align: center;
  position: relative;
}
header h1 {
  position: absolute;
  top: 0;
  left: 50px;
  padding-top: 14px;
}
header h1 a.logo {
  display: block;
  width: 110px;
  height: 48px;  
  color: transparent;
  background: url(images/sp_com.png) no-repeat -300px 0;
}
header .main-menu li,
header .sub-menu li {
  display: inline-block;  
}
header .main-menu li a {
  display: block;
  height: 81px;
  padding: 0 35px;
  line-height: 81px;
  color: var(--gray-color);  
}
header .main-menu li a:hover {
  color: var(--point-color);
  font-weight: bold;
}
header .main-menu li a span{
  position: relative;
}
header .main-menu li a:hover span:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: var(--point-color);
}
header .sub-menu {
  position: absolute;
  top: 0;
  right: 50px;
}
header .sub-menu li {
  position: relative; 
}
header .sub-menu li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 7px;
  background-color: #ccc;
}
header .sub-menu li:first-child:after { 
  display: none;
}
header .sub-menu li a {
  display: block;
  height: 81px;
  padding: 0 10px;
  font-size: 0.8rem;
  line-height: 81px;
  color: var(--gray-color);
}
header .sub-menu li:last-child a{
  padding-right: 0;
}
header .sub-menu li a:hover {
  color: var(--point-color);
  text-decoration: underline;
}
/*visual section*/
.visual {
  padding: 0 50px;
  position: relative;
}
.visual .contents > div {
  height: 690px;
}
.visual .contents .slide-main {
  background: url(images/bg_main02.jpg) no-repeat center;
  background-size: cover;
  color: #fff;  
}
.visual .contents .slide-main > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.visual .contents .slide-main .slide-icon{
  display: inline-block;
  color: transparent;
  width: 124px;
  height: 110px;
  background: url(images/sp_com.png) no-repeat;
  background-position: 0 -252px;
}
.visual .contents .slide-main p {
  font-size: 1.412rem;
}
.visual .contents .slide-main p span {
  font-weight: bold;
  font-size: 1.2em;
}
/*Product info*/
.product ul {
  padding: 46px 0 41px;
  text-align: center;
  font-size: 0;
}
.product li {
  display: inline-block;
  text-align: center;
  padding: 0 55px;
}
.product li a {
  display: block;
  font-size: 0.882rem;
  color: var(--font-basic);
}
.product li a:hover {
  color: var(--point-color);
  font-weight: bold;
}
.product li a:before {
  content: '';
  display: block;
  width: 64px;
  height: 52px;
  background: url(images/sp_com.png) no-repeat;
  margin: 0 0 26px;
}
.product li:first-child a:before {
  background-position: -3px -118px;
}
.product li:nth-child(2) a:before {
  background-position: -75px -118px;
}
.product li:nth-child(3) a:before {
  background-position: -148px -118px;
}
.product li:nth-child(4) a:before {
  background-position: -219px -118px;
}
.product li:nth-child(5) a:before {
  background-position: -292px -118px;
}
.product li:last-child a:before {
  background-position: -364px -118px;
}
.product li:first-child a:hover:before {
  background-position: -3px -184px;
}
.product li:nth-child(2) a:hover:before {
  background-position: -75px -184px;
}
.product li:nth-child(3) a:hover:before {
  background-position: -148px -184px;
}
.product li:nth-child(4) a:hover:before {
  background-position: -219px -184px;
}
.product li:nth-child(5) a:hover:before {
  background-position: -292px -184px;
}
.product li:last-child a:hover:before {
  background-position: -364px -184px;
}
/* Magazine section */
.magazine {
  background-color: #dfd9d1;
  position: relative;
  height: 670px;
  overflow: hidden;
}
.magazine h2 {
  font-size: 1.647rem;  
  padding: 50px 0 16px;
  text-align: center;
  line-height: 100%;
}
.magazine > p {
  font-size: 0.824rem;
  text-align: center;
  line-height: 100%;
}
.magazine .slide-box > div { 
  width: 1180px;
  height: 430px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.magazine .slide-box > div:first-of-type{
  margin-left: -1280px;
}
.magazine .slide-box > div:last-of-type{
  margin-left: 1280px;
}
.magazine .slide-box .slide-left {
  float: left;
  width: 800px;
  height: 430px;
  overflow: hidden;
  position: relative;
}
.magazine .slide-box .slide-left img {
  width: 100%;
}
.magazine .slide-box .slide-left > div {
  position: absolute;
  width: 200px;
  height: 100%;  
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 48px 20px 0;
  box-sizing: border-box;
}
.magazine .slide-box .slide-left div p,
.magazine .slide-box .slide-left div h3,
.magazine .slide-box .slide-left div a {
  color: #fff;
}
.magazine .slide-box .slide-left div h3 {
  padding: 24px 0 8px;
}
.magazine .slide-box .slide-left div h3 span {
  font-weight: normal;
  display: block;
}
.magazine .slide-box .slide-left div p {
  font-size: 0.824rem;
  line-height: 1.412rem;
}
.magazine .slide-box .slide-left div p:nth-of-type(2) {
  font-weight: 100;
}
.magazine .slide-box .slide-left div a {
  display: inline-block;
  width: 160px;
  height: 45px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 45px;
  position: absolute;
  bottom: 40px;
  right: 20px;
}
.magazine .slide-box .slide-right {
  float: right;
  width: 380px;
  height: 430px;
  background-color: #fff;
  padding: 20px 20px 0;
  box-sizing: border-box;
}
.magazine .slide-box .slide-right li {
  padding-bottom: 20px;
}
.magazine .slide-box .slide-right li a {  
  display: table;   
  width: 100%;
}
.magazine .slide-box .slide-right li a div {
  display: table-cell; 
  vertical-align: middle;
  position: relative; 
  padding: 0 0 0 100px;
  font-size: 0.941rem;
  height: 82px; 
  color: var(--font-slide);  
}
.magazine .slide-box .slide-right li a img {
  position: absolute;
  left: 0;
  top: 0;
}
.magazine .slide-box .slide-right li a strong {
  font-size: 0.765rem;
  display: block;
}
.magazine.slide .control {
  bottom: 45px;
}
.magazine.slide .prev {
  left: 50%;
  transform: translateX(-642px);
  background-position: -319px -541px;
}
.magazine.slide .next {
  right: 50%;
  transform: translateX(642px);
  background-position: -351px -541px;
}
/*Banner & Notice section*/
.notice > div {
  width: 1180px;
  margin: 0 auto;
  padding: 55px 0;
}
.notice .notice-top {
  overflow: hidden;
}
.notice .notice-top ul li {
  float: left;
  margin-right: 20px;
}
.notice .notice-top ul li:nth-child(1) {
  background: url("images/bg_gallery.jpg") no-repeat;
}
.notice .notice-top ul li:nth-child(2) {
  background: url("images/bg_blog.jpg") no-repeat;
}
.notice .notice-top ul li:nth-child(3) {
  background: url("images/bg_navi.jpg") no-repeat;
}
.notice .notice-top ul li a {
  display: block;
  width: 280px;
  height: 280px;
  color: #fff;
  font-weight: bold;
  text-align: center;  
  padding-top: 100px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.notice .notice-top ul li a span {
  display: block;
  position: relative;
  top: 10px;
  opacity: 0;
  font-weight: normal;
  font-size: 0.824rem;
  transition: all 0.5s;
}
.notice .notice-top ul li a:hover {
  background: rgba(45, 91, 121, 0.5);
}
.notice .notice-top ul li a:hover span {
  top: 0;
  opacity: 1;
  padding-top: 20px;
}
.notice .notice-top > div {
  float: left;
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  background: var(--banner-bg);
  text-align: center;
  padding: 23px 20px 0;
}
.notice .notice-top > div h3 {
  margin-bottom: 30px;
}
.notice .notice-top > div select,
.notice .notice-top > div input {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  text-indent: 20px;
}
.notice .notice-top > div input[type=search]::placeholder {
  color: var(--gray-color);
}
.notice .notice-top > div input[type=submit] {
  background-color: var(--point-color);
  color: #fff;
  border: none;
  font-weight: bold;
  text-indent: 0;
  margin-top:20px;
}
/*Notice bottom*/
.notice article {
  margin-top: 20px;
  overflow: hidden;
}
.notice article > div {
  float: left;
  width: 580px;
  background-color: var(--banner-bg);
  position: relative;
}
.notice article > div h2 {
  font-size: 1.412rem;
  color: var(--point-color);
  text-align: center;
  height: 77px;
  line-height: 77px;
  border-bottom: 2px solid #fff;
}
.notice article > div a {
  font-size: 0.941rem;
  color: var(--darkgray-color);
}
.notice article > div > a {
  position: absolute;
  top: 17px;
  right: 23px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: transparent;
  background: url(images/sp_com.png) no-repeat #fff;
  background-position: -196px -60px;
}
.notice article > div a p {
  font-size: 0.706rem;
  color: var(--gray-color);
}
.notice article > div.left ul li {
  float: left;
  width: 50%;
  padding: 35px;
  box-sizing: border-box;
}
.notice article > div.left ul li span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice article > div.left ul li p {
  padding: 25px 0 20px;
}
.notice article > div.left ul li:first-child {
  border-right: 1px solid #fff;
}
.notice article > div.right {
  float: right;
}
.notice article > div.right ul li {
  position: relative;
  border-bottom: 1px solid #fff;  
  
}
.notice article > div.right ul li:last-child {
  border-bottom: none; 
}
.notice article > div.right ul li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
  height: 60px;
  line-height: 60px;
  text-indent: 30px;     
}
.notice article > div.right ul li a p {
  position: absolute;
  right: 30px;
  top: 0;
}
/* Banner section */
.banner {
  background: url(images/bg_main_business.jpg) no-repeat center;
  background-size: cover;
  padding: 55px 0;
}
.banner ul {
  width: 1180px;
  margin: auto;
  text-align: center;
  display: flex;
}
.banner ul li {
  border: 1px solid red;
  flex: 1;
  margin-right: 20px;
}
.banner ul li:last-child {
  margin: 0;
}
.banner ul li a {
  display: block;
  font-size: 0.875rem;
  height: 390px;
  padding-top: 303px;
  box-sizing: border-box;
}
.banner ul li:first-child a {
  background: url(images/room-1336497_1280.jpg) no-repeat left bottom;
}
.banner ul li:nth-child(2) a {
  background: url(images/room-1336497_1280.jpg) no-repeat left bottom;
}
.banner ul li:nth-child(3) a {
  background: url(images/room-1336497_1280.jpg) no-repeat left bottom;
}
.banner ul li:last-child a {
  background: url(images/room-1336497_1280.jpg) no-repeat left bottom;
}
.banner ul li a strong {
  display: block;
  font-size: 1.438rem;
}
footer .top {
  background-color: #383f43;
  overflow: hidden;
}
footer .top > div {
  width: 1180px;
  margin: auto;
  padding: 13px 0;
	overflow: hidden;
}
footer .top > div ul li {
  float: left;
  padding-right: 19px;
  position: relative;
  }
footer .top > div ul li:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.43);
  width: 1px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9px;
}
footer .top > div ul li:last-child:after {
  display: none;
}
footer .top > div ul li a {
  font-size: 0.813rem;
  line-height: 45px;
  color: white;  
}
footer .top > div .right {
  float: right;
}
footer .top > div .right p {
	display: inline-block;
	background: #2a3033;
	width: 242px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 0.765rem;
	color: #fff;
	vertical-align: middle;
}
footer .top > div .right p big {
	font-size: 1.176rem;
	padding-left: 15px;
}
footer .top > div .right select {
	color: var(--darkgray-color);
	font-size: 0.706rem;
	padding-left: 21px;
	width: 200px;
	height: 45px;
	box-sizing: border-box;
	border: none;
	vertical-align: 0.5px;
}
footer .bottom {
	background: #4c5459;
	padding: 40px 0 44px;
	text-align: center;
	color: #fff;
}
footer .bottom p {
	display: inline-block;
	width: 131px;
	height: 51px;
	background: url(images/sp_com.png) no-repeat -150px 0px;
	color: transparent;
}
footer .bottom ul {
	margin: 32px 0 14px;
}
footer .bottom li {
	display: inline-block;
	font-size: 0.824rem;
	padding: 0 10px;
	position: relative;
}
footer .bottom li:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);	
}
footer .bottom li:last-child:after {
	display: none;
}
footer .bottom address {
	font-size: 0.824rem;
	font-style: normal;
}
/* Slide control */
.slide .prev,
.slide .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 47px;
  background: url(images/sp_com.png) no-repeat;
  color: transparent;
}
.slide .prev {
  left: 82px;
  background-position: -128px -60px;
}
.slide .next {
  right: 82px;
  background-position: -158px -60px;
}
.slide .control {
  position: absolute;
  left: 50%;
  bottom: 55px;
  transform: translateX(-50%);
}
.slide .control ul,
.slide .control li { 
  display: inline-block;
  font-size: 0;
}
.slide .control ul{
  position: relative;
  top: -7px;
}
.slide .control li{
  padding: 0 3px;
}
.slide .control li a {
  display: block;
  width: 50px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
.slide .control li a.on {
  background-color: rgba(255, 255, 255);
}
.slide .control > div {
  position: relative;
  padding-right: 45px;
}
.slide .control > div > div {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  font-size: 0;
}
.slide .control > div > div a {
  display: inline-block;
  width: 8px;
  height: 9px;
  overflow: hidden;
  background: url(images/sp_com.png) no-repeat;
  margin: 0 0 0 7px;
  opacity: 0.5
}
.slide .control > div > div a.on {
  opacity: 1;
}
.slide .control > div > div a.play {
  background-position: -108px -72px;
}
.slide .control > div > div a.pause {
  background-position: -108px -60px;
}