:root { 
  --link-basic: gray;
  --link-hover: #2d5b79;
  --font-basic: #001829;
}
body {
  min-width: 1280px;
}
header {
  text-align: center;
  position: relative;
}
header h1 {
  position: absolute;
  top: 0;
  left: 50px;
  padding-top: 14px;
}
header h1 a.logo {
  display: block;
  width: 110px;
  height: 48px;  
  color: transparent;
  background: url(images/sp_com.png) no-repeat -300px 0;
}
header .main-menu li,
header .sub-menu li {
  display: inline-block;  
}
header .main-menu li a {
  display: block;
  height: 81px;
  padding: 0 35px;
  line-height: 81px;
  color: var(--link-basic);  
}
header .main-menu li a:hover {
  color: var(--link-hover);
  font-weight: bold;
}
header .main-menu li a span{
  position: relative;
}
header .main-menu li a:hover span:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: var(--link-hover);
}
header .sub-menu {
  position: absolute;
  top: 0;
  right: 50px;
}
header .sub-menu li {
  position: relative; 
}
header .sub-menu li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 7px;
  background-color: #ccc;
}
header .sub-menu li:first-child:after { 
  display: none;
}
header .sub-menu li a {
  display: block;
  height: 81px;
  padding: 0 10px;
  font-size: 0.8rem;
  line-height: 81px;
  color: var(--link-basic);
}
header .sub-menu li:last-child a{
  padding-right: 0;
}
header .sub-menu li a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}
/*visual section*/
.visual {
  padding: 0 50px;
  position: relative;
}
.visual .prev,
.visual .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 47px;
  background: url(images/sp_com.png) no-repeat;
  color: transparent;
}
.visual .prev {
  left: 82px;
  background-position: -128px -60px;
}
.visual .next {
  right: 82px;
  background-position: -158px -60px;
}
.visual .control {
  position: absolute;
  left: 50%;
  bottom: 55px;
  transform: translateX(-50%);
}
.visual .control ul,
.visual .control li { 
  display: inline-block;
  font-size: 0;
}
.visual .control ul{
  position: relative;
  top: -7px;
}
.visual .control li{
  padding: 0 3px;
}
.visual .control li a {
  display: block;
  width: 50px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
.visual .control li a.on {
  background-color: rgba(255, 255, 255);
}
.visual .control > div {
  position: relative;
  padding-right: 45px;
}
.visual .control > div > div {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  font-size: 0;
}
.visual .control > div > div a {
  display: inline-block;
  width: 8px;
  height: 9px;
  overflow: hidden;
  background: url(images/sp_com.png) no-repeat;
  margin: 0 0 0 7px;
  opacity: 0.5
}
.visual .control > div > div a.on {
  opacity: 1;
}
.visual .control > div > div a.play {
  background-position: -108px -72px;
}
.visual .control > div > div a.pause {
  background-position: -108px -60px;
}
.visual .contents > div {
  height: 690px;
}
.visual .contents .slide {
  background: url(images/bg_main02.jpg) no-repeat center;
  color: #fff;  
}
.visual .contents .slide > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.visual .contents .slide .slide-icon{
  display: inline-block;
  color: transparent;
/*  border: 1px solid red;*/
  width: 124px;
  height: 110px;
  background: url(images/sp_com.png) no-repeat;
  background-position: 0 -252px;
}
.visual .contents .slide p {
  font-size: 1.412rem;
}
.visual .contents .slide p span {
  font-weight: bold;
  font-size: 1.2em;
}
/*Product info*/
.product {
}
.product ul {
  padding: 46px 0 41px;
  text-align: center;
  font-size: 0;
}
.product li {
  display: inline-block;
  text-align: center;
  padding: 0 55px;
}
.product li a {
  display: block;
  font-size: 0.882rem;
  color: var(--font-basic);
}
.product li a:hover {
  color: var(--link-hover);
  font-weight: bold;
}
.product li a:before {
  content: '';
  display: block;
  width: 64px;
  height: 52px;
  background: url(images/sp_com.png) no-repeat;
  margin: 0 0 26px;
}
.product li:first-child a:before {
  background-position: -3px -118px;
}
.product li:nth-child(2) a:before {
  background-position: -75px -118px;
}
.product li:nth-child(3) a:before {
  background-position: -148px -118px;
}
.product li:nth-child(4) a:before {
  background-position: -219px -118px;
}
.product li:nth-child(5) a:before {
  background-position: -292px -118px;
}
.product li:last-child a:before {
  background-position: -364px -118px;
}
.product li:first-child a:hover:before {
  background-position: -3px -184px;
}
.product li:nth-child(2) a:hover:before {
  background-position: -75px -184px;
}
.product li:nth-child(3) a:hover:before {
  background-position: -148px -184px;
}
.product li:nth-child(4) a:hover:before {
  background-position: -219px -184px;
}
.product li:nth-child(5) a:hover:before {
  background-position: -292px -184px;
}
.product li:last-child a:hover:before {
  background-position: -364px -184px;
}